spring:
  application:
    name: cart
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8081/realms/shopping

  mongodb:
    uri: mongodb://localhost:27017/shopping_cart_db

  kafka:
    bootstrap-servers: localhost:9092

    producer:
      key-serializer: org.apache.kafka.common.serialization.LongSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
      properties:
        spring.json.add.type.headers: false

    consumer:
      group-id: statistics-consumer
      auto-offset-reset: earliest
      key-deserializer: org.springframework.kafka.support.serializer.ErrorHandlingDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.ErrorHandlingDeserializer
      properties:
          spring.deserializer.key.delegate.class: org.apache.kafka.common.serialization.LongDeserializer
          spring.deserializer.value.delegate.class: org.springframework.kafka.support.serializer.JsonDeserializer
          spring.json.value.default.type: com.demo.cart.service.statistic.CartEvent
          spring.json.trusted.packages: "*"

    listener:
      missing-topics-fatal: false

server:
  port: 8080

app:
  kafka:
    topic:
      cart-events: cart.events





